$govuk-assets-path: '/theme/govuk/assets/';
$govuk-images-path: '/theme/govuk/assets/rebrand/images/';

$govuk-new-link-styles: true;
$govuk-rebrand: true;
$govuk-new-typography-scale: true;

@import '../node_modules/govuk-frontend/dist/govuk/all';

$govuk-skip-base-styles: true; // no reimport of base styles
// Import service header styles
@import '../node_modules/govuk-one-login-service-header/dist/styles/service-header-no-imports';


html body {
  height: auto;
}

.btn.btn-primary {
  // This is the Moodle class
  @extend .govuk-button; // extends this class with the styles from govuk-button
}

.btn.btn-secondary {
  @extend .govuk-button;
  @extend .govuk-button--secondary;
}

// Moodle applies the "h2" class to h1 tags in multiple places - we need to add the `#page-header` so we can override the original style by being more/equally specific
#page-header {
  h1.h2 {
    @extend .govuk-heading-m;
  }
}

h1 {
  @extend .govuk-heading-l;
}

h2 {
  @extend .govuk-heading-m;
}

h3 {
  @extend .govuk-heading-s;
}

// We need to overwrite these image paths as Moodle doesn't support file extensions when using `[[pix]]` to generate image paths
.govuk-footer__copyright-logo::before {
  background-image: govuk-image-url('govuk-crest.svg');

  @supports (mask-position: initial) {
    mask-image: govuk-image-url('govuk-crest.svg');
  }
}

#page {
  margin-top: 0;
}

ol.govuk-list,
ul.govuk-list,
dl.govuk-list {
  margin: 0;
  margin-left: 0;
}

.govuk-list {
  li:last-child {
    .govuk-section-break {
      display: none;
    }
  }
}
